/* Forms
/* ---------------------------------------------------------- */

form {
  margin: 0 0 var(--margin) 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  background: var(--color-bg);
  border-radius: var(--radius);
  border: none;
  border: solid 1px var(--color-border);
  color: black;

  outline: 0;
  padding: 0 0.6em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="search"]:invalid,
input[type="url"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 1px var(--color-primary);
}

select {
  height: var(--height);
  padding-right: var(--height);
  text-overflow: ellipsis;
}

select option {
  color: var(--color-primary);
  background: var(--color-bg);
}

select:focus::-ms-value {
  background-color: transparent;
}

select::-ms-expand {
  display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
  height: var(--height);
}

textarea {
  padding: 0.3em 0.6em;
  resize: vertical;
}
label {
  color: white;
}
input[type="checkbox"],
input[type="radio"] {
  opacity: 1;
  width: 1em;
  z-index: -1;
}
